/*
  CSS File
*/

/*
 VARIABLES
*/
:root {
  /* Core colours */
  /* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */
  --colour-amaranth: #e63946;
  --colour-peppermint: #f1faee;
  --colour-aquaisland: #a8dadc;
  --colour-wedgewood: #457b9d;
  --colour-cello: #1d3557;

  /* Header configuration */
  --header-heading-colour: var(--colour-peppermint);

  /* Body configuration */
  --body-default-colour: var(--colour-peppermint);
  --body-background-colour: var(--colour-cello);
}

/*
  PAGE / BODY
*/
body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #d1c8e6;
}

section {
  text-align: center;
}

.game--title {
  font-size: 60px;
  color: #bf54c5;
  margin: 10px auto;
}

.game--container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 306px;
  margin: 10px auto;
  color: #370946;
}

.cell {
  font-family:'Courier New', Courier, monospace; 
  width: 100px;
  height: 100px;
  box-shadow: 2px 2px 2px 2px #ffffff;
  border: 2px solid #ffffff;
  cursor: pointer;
  line-height: 100px;
  font-size: 60px;
}

.cell:hover {
background-color: #d1c8e6;
}
.players {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
  font-family:'Courier New', Courier, monospace;
}

.game--status {
  font-size: 30px;
  color: #d648c8;
  margin: 20px auto;
}

.game--restart {
  background-color: #bc29d6;;
  width: 200px;
  height: 50px;
  font-size: 25px;
  font-weight: 2rem;
  color: #0d0d0d;
  border: 2px solid white;
  font-family: 'Courier New', Courier, monospace;
}

